flask==3.0.2
flask-cors==4.0.0
pymongo==4.6.2
python-dotenv==1.0.1
beautifulsoup4==4.12.3
requests==2.31.0
pandas==2.2.1
scikit-learn==1.8.0
duckduckgo-search>=6.2.1
gunicorn==21.2.0
resend
spacy
opencv-python
pillow
numpy
python-docx
